
*{
  font-family:  'Poppins', sans-serif;
}
p{
  font-size: 15px;
}
h1,
h2,
h3,h4,h5{
  color: black;
}
:root{
  --bgcolor : #f1f5fd;
  --primary-color:#6f5de7;
  --text-color:#828286;
  --main-text-color:#333333;
}
html{
  font-size: 62.5%;
}
a{
  text-decoration: none;
  color: #fff;
}
h1{
  font-weight: 600;
}
/*--------navbar styling
-------*/
.navbar-bg{
  background-color: var(--bgcolor);
  padding: 10px 0px;
  z-index: 99;
  position: relative;
}
.navbar-brand{
  font-size: 2.5rem;
}
.navbar-brand li{
  padding: 0px 50px;

  
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .show>.nav-link{
  font-weight: bold;
}
.navbar-brand li a{
  font-size: 25px;
  font-weight: 600;
}
.navbar-expand-lg .navbar-nav .nav-link  {
  padding-right: 50px;
  padding-left: 10px;
  font-size: 1.7rem;
  font-weight: lighter;
}
.navbar-nav li a:hover{
  color: var(--primary-color) !important;
}
.btn-style{
  width: 12rem;
  height: 4rem;
  border-radius: 2rem;
  color: #fff;
  background-color: var(--primary-color);
  text-transform: capitalize;
  font-size: 1.6rem;
  margin-right: 18.4px;
}


.btn-style:hover{
  border: 0.1rem solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  box-shadow: 0 0.2rem 0.5rem rgba(183, 171, 255, 0.5);

}
/*--------header styling
-------*/
header {
  background-color: var(--bgcolor);
  min-height: 100vh;
  width: 100%;
}

.main-hero-container {
  height: 80vh;
  display: flex;
  /* background-color: aqua; */
}

.main-hero-container h1 {
  text-transform: capitalize;
  font-weight: bolder;
}

.main-hero-para {
  font-size: 1.5rem;
  color: var(--text-color);
  margin: 3rem 0 5rem 0;
  font-weight: lighter;
  width: 75%;
}

.main-hero-container h3 {
  font-weight: lighter;
}

.input-group {
  position: relative !important;
}

.form-control-text {
  position: absolute;
  height: 5rem;
  border: none;
  outline-style: none;
  padding-left: 1.5rem !important;
  font-size: 1.4rem;
  font-weight: lighter;
}

.input-group-button {
  position: absolute;
  right: 51%;
  top: 0.5rem;
  color: #fff;
  background-color: var(--primary-color);
  height: 4rem;
  width: 15%;
  border-radius: 2rem !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
/*--------how it works styling
-------*/
.work-container{
  background-color:white;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  margin-top: -100px;
}
.main-heading{
  font-weight: 600;
  padding-bottom: 25px;
  
}
.work-container-subdiv i{
  font-size: 23px;
  padding-bottom: 10px;
  color: var(--bs-cyan)
}
.sub-heading{
  font-weight: 600;
}/*--------about styling
-------*/
.col-about img{
  
  border-radius: 30px;
}
.col-about h2{
  font-weight: bold;
  line-height: 50px;
}
.col-about h3{
  font-weight: bold;
  line-height: 25px;
}
.col-about p{
  line-height: 25px;
}
/*--------styling for services page
-------*/
#servicecontainer{
  padding-top: 80px;
}
.col-service img{
  
  border-radius: 30px;
}
.col-service h2{
  font-weight: bold;
  line-height: 50px;
}
.col-service h3{
  font-weight: bold;
  line-height: 25px;
}
.col-service p{
  line-height: 25px;
}
.col-service img{
  border-radius: 30px;

}
/*--------card section styling
-------*/
.card {
  max-width: 100%;
  width: 50%;
  text-align: center;
  padding: 15px;
  border: 1px solid white;
  box-shadow:5px 10px 18px #888888;
  padding-bottom: 12px;
  border-radius: 30px;
  

}
#servicetwo{
  margin-bottom: 25px;
}
.card h2{
  font-weight: bold;
  

}
.text-center{
  padding-top: 15px;
  padding-bottom: 15px;
}
.card i{
  font-size: 25px;
  color:rgb(67, 133, 207);
}
/*--------contact styling
-------*/
.col-service label{
  font-weight: bold;
  font-size: 16px;
}
.col-service input{
  padding:10px;
  line-height: 10px;
  color: lighter;
  font-size: 20px;
}

/*---------footer styling
*/
#footer{
  background-color: rgb(12, 12, 34);
  padding: 150px;
  border-radius: 30px 30px 0px 0px;
}
#footer h3,h6{
  color: white;
}
#footer h3{
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 10px;
  text-align: center;
}
#footer h6{
  font-size: 14px;
  text-align: center;

}
#footer h6:hover{
 color: var(--bgcolor);
 cursor: pointer;
}
#footer i{
  text-align: center;
  color: white;
  padding-right: 5px;
  font-size: 25px;
  margin-left: 40px;
}
hr{ 
  color: white;
  font-weight: bold;
}
#footer h2{
  color: white;
  text-align: center;
}
/*--------responsive media queries
-------*/
@media(min-width : 1500px){
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl{
      max-width: 1500px !important;
  }
}
@media(min-width:1400px){
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl{
      max-width: 1400px;
  }
  .header-left-side{
      padding-left: 150px;
  }
  .work-container{
     max-width: 100%;
     width: 70%;
      
  }
  .main-heading{
      margin-bottom: 50px;
      padding-top: 20px;
  }
  .col-about img{
      max-width: 100%;
      width: 50%;
      height: 500px;
      margin-left: 270px;
  }
  .col-about h4{
      margin-top: 27px;
      
  }
  .col-about p{
     margin-right: 170px;
  }
  .col-service img{
      max-width: 100%;
      width: 50%;
      height: 500px;
      
  }
  #colservice h3{
     margin-left: 250px;
  }
  #servicepara{
      margin-left: 250px;
  }
  #servicebutton,#serviceh2,#serviceh4{
      margin-left: 250px;
  }
  .col-service img{
      margin-left: 187px;
  }
  .card{
      margin-left: 100px;
      
  }
  #contact img{
      margin-left: 250px;
   }
   .col-service form{
       padding: 87px;
       font-size: 15px;
       padding-right: 180px;
       padding-top: 180px;
   }

   .form-check{
       padding-top: 10px;
       margin-top: 10px;
   }
   #contactform .btn{
         margin-left: 0px;
         margin-top: 25px;
   }
   
  
  
 
 
 
}
@media(max-width:768px){
  .work-container{
        margin-top: 50px;
        padding-top: 10px;
  }
  .row-cols-3>* {
      flex: 0 0 auto;
      width: 120.333333%;
      margin-left: 105px;
      margin-bottom: 22px;
  }
  #footer{
      padding: 0px;
  }
  
  
}

